* {
    box-sizing: border-box;
  }

:root {
--purple: #3f287c;
--hover: #daa5f2;
--answer: #d0d0d0;
--font: #030303;
}

.page-title {
width: 100%;
color: #030303;
display: inline-block;
font: tahoma;
font-size: 16px;
align-content: space-around;
padding: 15%;
margin: 15%;
font-family: tahoma;
font-size: 16px;
}

#url {
    color: #daa5f2;
}

.page-title {
    color: var(--font);
    font-size: 2em;
}

body {
    background: #ffffff;
    color: var(--font);
    margin: 0;
    padding: 5% 15%;
    display: flex;
    min-height: auto;
    text-align: center;
    font-family: Tahoma;
  }

  .quizcontainer {
      width: 800px;
      max-width: 80rem;
      background-color: #ffffff;
      padding: 10%;
      display: flex;
  }

  #question {
    color:black;
  }

  .button-grid {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .btn {
    background-color: var(--purple);
    border: 1px solid var(--purple);
    margin: 5px;
    padding: 25px 10px;
    border-radius: 5px;
    color: #ffffff;
    justify-content: left;
  }

  .btn:hover {
    cursor: pointer;
    background-color: var(--hover);
  }

  #submit{
	font-family: Tahoma;
	font-size: 20px;
	background-color: var(--purple);
	color: #fff;
	border: 0px;
	padding: 10px 25px;
	cursor: pointer;
    border-radius: 10px;
}

#submit:hover{
	background-color: var(--hover);
}
 
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}
 